@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.Contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #495867;
    position: relative;
}

.contactInfo {
    width: 40%;
    display: flex;
    justify-content: space-evenly;

}

.contactSec {
    border-radius: 10px;
    min-width: 230px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.emailSec {
    background-color: #4300b8;
}

.phoneSec {
    background-color: #38b6ff;
}

.contact-text {
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    font-size: 14px;
    margin-left: 10px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;

}

.contact-text:hover {
    color: #ffff;
}

.contact-text p {
    margin-bottom: 0;
    margin-left: 10px;
}

.contactIcon {
    width: 25px;
    height: 25px;
}

.header {
    font-family: 'Eczar', serif;
    font-weight: 700;
}

form {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 45%;
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 400;
}

input {
    width: 100%;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 10px;
    outline-color: #6e44ff !important;
    padding-left: 2%;
    font-size: 18px;
}

textarea {
    width: 100%;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 10px;
    outline-color: #6e44ff !important;
    padding-left: 2%;
    font-size: 18px;
}

input[type='submit'] {
    background-color: #6e44ff;
    border: none;
    margin-top: 2rem;
    font-size: 17px;
    height: 45px;
    width: 40%;
    align-self: center;
    font-family: '';
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

input[type='submit']:hover {
    background-color: #4300b8;
    /* transform: scale(1.05); */
    transition-duration: 300ms;
}

@media(max-width: 400px) {
    form {
        font-family: 'Roboto', sans-serif;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 80%;
    }

    input[type='submit'] {
        width: 60%;
    }

    label {
        font-size: 14px;
    }

    .contactInfo {
        flex-wrap: wrap;
        width: 80%;
    }

    .contactSec {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%
    }
}

@media(min-width: 401px) and (max-width: 1100px) {
    form {
        width: 60%;
    }
    .contactInfo {
        width: 60%;
    }
    .contactSec {
        width: 40%
    }
}