@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');

.Header {
    /* background-color: #282c34; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #495867;
}

.headShot {
    width: 18%;
    border-radius: 30%;
    box-shadow: 5px 5px 5px #b8c2cd;
}

.social-btns {
    display: flex;
}

.app-head {
    font-family: 'Eczar', serif;
    font-weight: 700;
    font-size: 50px;
}

.name {
    color: #6e44ff;
}