@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.Skills {
    background-color: #6e44ff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /* color: white; */
    position: relative;
}

.SkillHeader {
    font-family: 'Eczar', serif;
    font-weight: 700;
    color: #ffff;
}

.skillsRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}

.skillsExp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.expList {
    margin-left: 5%;
}

.expItem {
    display: flex;
    flex-direction: row;
}

.expHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.expYear {

    font-family: 'Roboto', sans-serif;
    color: #38b6ff;
    font-weight: 700;
    font-size: 20px;
}

.expName {
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    font-weight: 500;
    font-size: 20px;
}

.expTitle {
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    font-size: 16px;
}

.resumeBtn {
    font-family: 'Roboto', sans-serif;
    background-color: #38b6ff;
    color: #ffff;
    border-style: none;
    /* border-radius: 10px; */
    font-size: 17px;
    height: 45px;
    width: 120px;
    font-weight: 700;
}

.resumeBtn:hover {
    background-color: #4300b8;
    transition-duration: 300ms;
}

@media(max-width: 900px) {
    .skillsExp {
        width: 90%;
        flex-direction: column;
        justify-content: center;
    }

    .expList {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .expTitle {
        font-size: 14px;
    }
}